h1.Top-Header {
  font-family: "Impact", Impact, serif;
  margin-left: 43%;
  position: fixed;
}
html {
  background-image: url("https://nerdnhub.github.io/NerdnHub/backgrounds/Main.png");
}
a {
  color: blue;
}
p {
  font-family: "serif", serif;
  color: black;
}
#motto {
  margin-left: 41%;
}
.boxed { 
  border: 1px solid black;
  length: 100px;
  width: 962px;
}
.signInUp {
  margin-left: 870px;
}
.middle {
  margin-left: 400px;
}
