h1.Top-Header {
  font-family: "Impact", Impact, sans-serif;
}
html {
  background-image: url("https://nerdnhub.github.io/NerdnHub/backgrounds/Main.png");
}
a {
  color: blue;
}
a: hover {
  color: purple;
  text-decoration: underline;
}
p {
  font-family: "serif", serif;
  color: black;
}
.email {
  text-decoration: underline;
  color: blue;
}
