h1.Top-Header {
  font-family: "Impact", Impact, serif;
  margin-left: 43%;
  position: fixed;
}
html {
  background-image: url("https://nerdnhub.github.io/NerdnHub/backgrounds/Main.png");
}
a {
  color: blue;
}
p {
  font-family: "serif", serif;
  color: black;
}
#motto {
  margin-left: 41%;
}
.boxed { 
  border: 1px solid black;
  length: 100px;
  width: 962px;
}
.signInUp {
  margin-left: 870px;
}
.middle {
  margin-left: 400px;
}
.chipTabsIndex {
  margin-top: 30px;
}
// Victor! Before you do any other code here, I really need you to look up, and research, how to fix something. Do you see where it says: ".signInUp { margin..."? Well, when I put that code there, for some reason, it moved itself down on the screen a little two. So all I need you to do is figure out how to put it in line with the other buttons, by inching it back up. Delete this when you are done //
.boxed {
  length: 150;
  width: 150;
  border: 3px solid red;
}
